/* html {
  --sdpi-bgcolor: #2d2d2d;
  --sdpi-background: #3d3d3d;
  --sdpi-color: #d8d8d8;
  --sdpi-bordercolor: #3a3a3a;
  --sdpi-buttonbordercolor: #969696;
  --sdpi-borderradius: 0px;
  --sdpi-width: 224px;
  --sdpi-fontweight: 600;
  --sdpi-letterspacing: -0.25pt;
}

html,
body {
  margin: 0px;
  color: rgb(230, 230, 230);
  background-color: rgb(45, 45, 45);
  font-family: "Helvetica Light", "Helvetica", Arial, sans-serif;
  height: 100%;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  color: rgb(150, 150, 150);
  font-weight: 100;
  margin-bottom: 5px;
}

.header {
  padding: 25px;
  padding-bottom: 5px;
}

#content {
  padding: 25px;
  padding-top: 0px;
  padding-bottom: 15px;
}

.main {
  min-width: 400px;
}

@media (min-width: 600px) {
  .main {
    max-width: 500px;
    height: 100%;
    width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }

  .border {
    border: 1px solid rgb(60, 60, 60);
    border-radius: 5px;
    margin: 10px;
    min-height: 625px;
  }
}

p,
li {
  line-height: 1.5;
  text-align: center;
}

.status-bar {
  display: table;
  width: 100%;
  border-spacing: 3px;
  border-collapse: separate;
}

.status-row {
  display: table-row;
}

.status-cell {
  display: table-cell;
  background-color: rgb(61, 61, 61);
  height: 10px;
}

.status-cell.active {
  background-color: rgb(0, 125, 255);
}

.image {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 20px;
}

.button,
.button-transparent {
  padding: 8px 50px;
  display: table;
  margin: 8px auto;
  cursor: pointer;
}

.button {
  background-color: rgb(61, 61, 61);
  border-radius: 4px;
}

.button:hover {
  background-color: rgb(0, 125, 255);
}

.button-transparent:hover {
  color: rgb(150, 150, 150);
}

.hide {
  display: none;
}

#loader {
  width: 40px;
  height: 40px;
  background-color: rgb(102, 102, 102);
  margin: 20px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

#form {
  display: flex;
  width: 300px;
  margin: 8px auto 16px;
  align-items: center;
}

input {
  background-color: var(--sdpi-background);
  border-radius: var(--sdpi-borderradius);
  border: 1pt solid #303030;
  color: var(--sdpi-color);
  font-size: 12pt;
  letter-spacing: var(--sdpi-letterspacing);
  margin-left: 8px;
  width: 100%;
}

input:required:invalid,
input:focus:invalid {
  background: var(--sdpi-background)
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHZpZXdCb3g9IjAgMCA5IDkiPgogICAgPHBhdGggZmlsbD0iI0Q4RDhEOCIgZD0iTTQuNSwwIEM2Ljk4NTI4MTM3LC00LjU2NTM4NzgyZS0xNiA5LDIuMDE0NzE4NjMgOSw0LjUgQzksNi45ODUyODEzNyA2Ljk4NTI4MTM3LDkgNC41LDkgQzIuMDE0NzE4NjMsOSAzLjA0MzU5MTg4ZS0xNiw2Ljk4NTI4MTM3IDAsNC41IEMtMy4wNDM1OTE4OGUtMTYsMi4wMTQ3MTg2MyAyLjAxNDcxODYzLDQuNTY1Mzg3ODJlLTE2IDQuNSwwIFogTTQsMSBMNCw2IEw1LDYgTDUsMSBMNCwxIFogTTQuNSw4IEM0Ljc3NjE0MjM3LDggNSw3Ljc3NjE0MjM3IDUsNy41IEM1LDcuMjIzODU3NjMgNC43NzYxNDIzNyw3IDQuNSw3IEM0LjIyMzg1NzYzLDcgNCw3LjIyMzg1NzYzIDQsNy41IEM0LDcuNzc2MTQyMzcgNC4yMjM4NTc2Myw4IDQuNSw4IFoiLz4KICA8L3N2Zz4)
    no-repeat 98% center;
}

input:required:valid {
  background: var(--sdpi-background)
    url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI5IiBoZWlnaHQ9IjkiIHZpZXdCb3g9IjAgMCA5IDkiPjxwb2x5Z29uIGZpbGw9IiNEOEQ4RDgiIHBvaW50cz0iNS4yIDEgNi4yIDEgNi4yIDcgMy4yIDcgMy4yIDYgNS4yIDYiIHRyYW5zZm9ybT0icm90YXRlKDQwIDQuNjc3IDQpIi8+PC9zdmc+)
    no-repeat 98% center;
} */
